<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue router</title>
    <style>
        .fade{
            transition: .5s;
        }

        .fade-enter {
            opacity:0;
        }
        .fade-leave{
            opacity:1;
        }
        .fade-enter-active{
            transition:opacity .5s;
        }
        .fade-leave-active{
            opacity:0;
            transition:opacity .5s;
        }
    </style>
</head>
<body>

<div id="index">
    <div v-for="router in routers" class="router-container">
        | <router-link :to="{name: router.name,params:{pathName : router.name}}">{{router.name}}</router-link>
        <template v-if="router.children">
            | <router-link to="/home1/123">home1</router-link>
            | <router-link to="/home1/666">home2</router-link>
        </template>
    </div>
    <router-link to="/bbcc">404</router-link>
    <!--<router-link to="/home1">home1</router-link>-->
    <!--<router-link to="/home2">home2</router-link>-->
    <!--&#45;&#45; {{$route.name}}-->

    <transition name="fade" mode="out-in">
        <router-view></router-view>
    </transition>

</div>

<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<!--<script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>-->
<script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.core.min.js"></script>
<script src="/public/static/router/js/index.js"></script>
</body>
</html>