<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>单页面多路由区域操作</title>
</head>
<body>
<div id="mra">
    <div class="app-container" id="app">
        <h4>{{msg}}</h4>
        <router-link to="/">home</router-link>
        <!--<div v-for="router in routers" class="router-container">
            <router-link :to="router.path">{{router.name}}</router-link>
            <template v-if="router.children" v-for="child in router.children">
                <router-link :to="child.path">{{child.name}}</router-link>
            </template>
        </div>-->
        <router-view></router-view>
        <router-view name="left" class="left"></router-view>
        <router-view name="right" class="right"></router-view>
    </div>
</div>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script src="/public/static/router/js/spa-mra.js"></script>

</body>
</html>